.img-home{
    background: linear-gradient(#152c3c, #e13d2733), url("../assets/img/backgrond_PSE.jpg");
    background-position: center;
    background-size: cover;
}

.img-2via{
    background: linear-gradient(#152c3c, #e13d2733), url("img/2_via_de_trasferencia-bg.png");
    background-position: center;
    background-size: cover;
}

.img-trasferencia{
    background: linear-gradient(#152c3c, #e13d2733), url("img/trasferencia-bg.jpg");
    background-position: center;
    background-size: cover;
}

.img-impressao-atpv{
    background: linear-gradient(#152c3c, #e13d2733), url("img/ATPV_BG.jpg");
    background-position: center;
    background-size: cover;
}

.img-1-emplacamento{
    background: linear-gradient(#152c3c, #e13d2733), url("img/1_emplacamento_bg.jpg");
    background-position: center;
    background-size: cover;
}

.img-solicitacao-emplacamento{
    background: linear-gradient(#152c3c, #e13d2733), url("img/solicitacao_emplacamento_bg.jpg");
    background-position: center;
    background-size: cover;
}
